@model GarageProject.ViewModel.CarAndCustomerViewModel
@{
    ViewBag.Title = "Create";
}

@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" />

    <style>
        body {
            background-size: cover;
            background-color: black;
            color: gray;
        }

        i#r {
            font-size: 581px;
            position: absolute;
            top: 40px;
            right: 375px;
        }
    </style>
}

    <h1 style="text-align:left;">Add Car</h1>
<br />
<body>
    <div><i class="fas fa-car" id="r" style="opacity:0.4"></i></div>

    <div class="jumbotron  field-validation-error">
        @using (Html.BeginForm())
        {
            <table class="table form-group field-validation-valid field-validation-error" style="opacity:0.8;">
                <tr>
                    <td class="form-group" style="color:black;">
                        @Html.LabelFor(m => m.Cars.VIN)
                    </td>
                    <td class="form-group" style="color:black;">
                        @Html.TextBoxFor(m => m.Cars.VIN, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Cars.VIN)
                    </td>

                    <td class="form-group" style="color:black;">
                        @Html.LabelFor(m => m.Cars.Brand)
                    </td>
                    <td class="form-group" style="color:black;">
                        @Html.DropDownListFor(m => m.Cars.Brand, new SelectList(Model.CarBrandDbs, "CarBrandsData", "CarBrandsData"), "Select Brand", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Cars.Brand)
                    </td>
                </tr>
                <tr>
                    <td class="form-group" style="color:black;">
                        @Html.LabelFor(m => m.Cars.Model)
                    </td>
                    <td class="form-group" style="color:black;">
                        @Html.TextBoxFor(m => m.Cars.Model, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Cars.Model)
                    </td>
                    <td class="form-group" style="color:black;">
                        @Html.LabelFor(m => m.Cars.Style)
                    </td>
                    <td class="form-group" style="color:black;">
                        @Html.DropDownListFor(m => m.Cars.Style, new SelectList(Model.CarStyleDbs, "CarStylesData", "CarStylesData"), "Select Style", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Cars.Style)
                    </td>
                </tr>
                <tr>
                    <td class="form-group" style="color:black;">
                        @Html.LabelFor(m => m.Cars.Color)
                    </td>
                    <td class="form-group" style="color:black;">
                        @Html.TextBoxFor(m => m.Cars.Color, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Cars.Color)
                    </td>
                </tr>
            </table>
            @Html.HiddenFor(m => m.Users.Id)
            @*@Html.HiddenFor(m=>m.Car.Id)*@
            <button class="btn btn-primary" type="submit">Save</button>
        }
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>