@model GarageProject.ViewModel.CarAndCustomerViewModel
@{
    ViewBag.Title = "EditCar";
}



<div style="background-color:gray;background-size:contain;">
    <h1 style="text-align:center;font-family:'Bodoni MT';color:lightyellow;"><strong>Updating Car Details</strong></h1>
</div>
<br />
<div class="jumbotron  field-validation-error">
    @using (Html.BeginForm())
    {
        <table class="table form-group field-validation-valid field-validation-error">
            <tr>
                <td class="form-group" style="color:chocolate;">
                    @Html.LabelFor(m =>m.Cars.VIN)
                </td>
                <td class="form-group" style="color:chocolate;">
                    @Html.TextBoxFor(m => m.Cars.VIN, new { @class = "form-control" })
                </td>

                <td class="form-group" style="color:chocolate;">
                    @Html.LabelFor(m => m.Cars.Brand)
                </td>
                <td class="form-group" style="color:chocolate;">
                    @Html.DropDownListFor(m => m.Cars.Brand, new SelectList(Model.CarBrandDbs, "CarBrandsData", "CarBrandsData"), "Select Brand", new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td class="form-group" style="color:chocolate;">
                    @Html.LabelFor(m => m.Cars.Model)
                </td>
                <td class="form-group" style="color:chocolate;">
                    @Html.TextBoxFor(m => m.Cars.Model, new { @class = "form-control" })
                </td>
                <td class="form-group" style="color:chocolate;">
                    @Html.LabelFor(m => m.Cars.Style)
                </td>
                <td class="form-group" style="color:chocolate;">
                    @Html.DropDownListFor(m => m.Cars.Style, new SelectList(Model.CarStyleDbs, "CarStylesData", "CarStylesData"), "Select Style", new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td class="form-group" style="color:chocolate;">
                    @Html.LabelFor(m => m.Cars.Color)
                </td>
                <td class="form-group" style="color:chocolate;">
                    @Html.TextBoxFor(m => m.Cars.Color, new { @class = "form-control" })
                </td>
            </tr>
        </table>
        @Html.HiddenFor(m => m.Users.Id)
        @Html.HiddenFor(m=>m.Cars.Id)
        <button class="btn btn-primary" type="submit">Save</button>
    }
</div>